body {
  font-family: "Marck Script", cursive;
  padding: 20px;
  background: #f0f0f0;
}

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}
textarea {
  width: 100%;
  resize: vertical;
}
button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.print-wrapper {
  width: 297mm;
  height: 210mm;
  page-break-after: always;
  box-sizing: border-box;
  overflow: hidden;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .print-wrapper {
    margin: 0;
    padding: 0;
  }
}

.lora {
  font-family: "Lora", serif;
}

input {
  width: 100%;
  border-radius: 14px;
  padding: 14px 20px;
  display: block;
}
table {
  width: 100%;
}
tr {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr 1fr;
}
td,
th {
  display: flex;
  flex-shrink: 0;
}
