*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

h1,
h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  user-select: none;
  line-height: 1;
}

h1 {
  font-size: 88px;
  color: #926188;
}

h2 {
  font-size: 40px;
  color: #fcc201;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #4f4c40;
  text-align: center;
  user-select: none;
  margin-bottom: 20px;
}

.name {
  font-family: "Marck Script", cursive;
  font-size: 40px;
  color: #333;
  text-align: center;
  margin-top: 30px;
}

.text {
  font-size: 24px;
  font-family: "Marck Script", cursive;
  color: #4f4c40;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.atribut {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}

.date,
.signature {
  font-family: "Marck Script", cursive;
  font-size: 20px;
  color: #4f4c40;
  text-align: center;
  width: 190px;
  border-bottom: 1px solid #4f4c40;
  padding: 18px 0;
  position: relative;
  user-select: none;
}

.signature .name {
  font-size: 20px;
  margin-top: 0;
}

.date::after,
.signature::after {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 52px;
  transform: translate(-50%, 0%);
}

.date::after {
  content: "ДАТА";
}

.signature::after {
  content: "ДИРЕКТОР";
}

@media print {
  body {
    margin: 0;
  }

  .wrapper {
    width: 297mm;
    height: 210mm;
    page-break-after: always;
  }

  .container {
    padding: 0;
  }
}

.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
