*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

.gramot h1,
.gramot h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  user-select: none;
  line-height: 1;
}

.gramot h1 {
  font-size: 72px;
  color: #132b44;
  margin-bottom: 10px;
  /* background: linear-gradient(-135deg, #f7e27c 50%, #c49a3d 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; */
}

.gramot h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  color: #132b44;
  text-align: center;
  user-select: none;
  position: relative;
}

.gramot h3::after {
  content: "";
  background-color: #132b44;
  height: 3px;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.gramot .name {
  font-family: "Marck Script", cursive;
  font-weight: 500;
  font-size: 72px;
  color: #c49a3d;
  text-align: center;
}

.gramot .text {
  font-size: 18px;
  font-family: "Lora", serif;
  /* font-family: "Montserrat", sans-serif; */
  font-style: italic;
  color: #4f4c40;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}
.gramot .proff {
  color: #132b44;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  /* font-style: italic; */
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.gramot .atribut {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  bottom: 150px;
  transform: translateX(-50%);
}

.gramot .date,
.gramot .signature {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #132b44;
  text-align: center;
  width: 190px;
  border-bottom: 1px solid #132b44;
  position: relative;
  user-select: none;
}

.gramot .date::after,
.gramot .signature::after {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0%);
}

.gramot .date::after {
  content: "дата";
}

.gramot .signature::after {
  content: "директор";
}

@media print {
  body {
    margin: 0;
  }

  .wrapper {
    width: 297mm;
    height: 210mm;
    page-break-after: always;
  }

  .container {
    padding: 0;
  }
}

.gramot .container {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  justify-content: center;
}
