<main>
  <div
    class="template-meta"
    data-orientation="landscape"
    style="display: none"
  ></div>

  <div class="wrapper lesorub">
    <div id="section-to-print" class="container">
      <h1>{заголовок}</h1>
      <h2>{подзаголовок}</h2>
      <h3>Награждается:</h3>
      <div class="name field">{ФИО}</div>
      <div class="text field">{текст}</div>
      <div class="atribut">
        <div class="date">{дата}</div>
        <div class="signature"><div class="name">{подпись}</div></div>
      </div>
    </div>
  </div>
</main>

<!-- data-orientation="portrait"
    data-orientation="landscape" -->
