<main>
  <div
    class="template-meta"
    data-orientation="landscape"
    style="display: none"
  ></div>

  <div class="wrapper pochetnaja">
    <div id="section-to-print" class="container">
      <h1>грамота</h1>
      <h2>почетная</h2>
      <h3>награждается:</h3>
      <div class="proff field">{proffesion}</div>
      <div class="name field">{ФИО}</div>
      <div class="text field">{текст}</div>
      <div class="atribut">
        <div class="date">{дата}</div>
        <div class="signature">{подпись}</div>
      </div>
    </div>
  </div>
</main>

<!-- data-orientation="portrait"
    data-orientation="landscape" -->
