*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pochetnaja .logoSt1,
.pochetnaja .logoSnow {
  fill: #c49a3d;
  animation: check_c_o 1000ms linear 1 normal forwards;
}

.pochetnaja .logoSt0 {
  fill: none;
  stroke: #c49a3d;
  stroke-width: 5;
  stroke-miterlimit: 10;
  stroke-dasharray: 4240;
  animation: strok2 2s linear;
}

.pochetnaja .logo {
  width: 110px;
  position: absolute;
  right: 115px;
  top: 50px;
  z-index: 1;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

.pochetnaja h1,
.pochetnaja h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  user-select: none;
  line-height: 1;
}

.pochetnaja h1 {
  font-size: 32px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: 600;
}

.pochetnaja h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background: linear-gradient(-135deg, #f7e27c 50%, #c49a3d 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 72px;
  font-weight: 500;
  margin-bottom: 20px;
}

.pochetnaja h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  text-align: center;
  user-select: none;
  position: relative;
}

.pochetnaja h3::after {
  content: "";
  background-color: #000000;
  height: 3px;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.pochetnaja .name {
  font-family: "Marck Script", cursive;
  font-weight: 500;
  font-size: 60px;
  color: #c49a3d;
  text-align: center;
  width: 100%;
  max-width: 90%;
  line-height: 1.2;
}

.pochetnaja .text {
  font-size: 18px;
  font-family: "Lora", serif;
  /* font-family: "Montserrat", sans-serif; */
  font-style: italic;
  color: #4f4c40;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
}
.pochetnaja .proff {
  color: #000000;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  /* font-style: italic; */
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pochetnaja .atribut {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  bottom: 150px;
  transform: translateX(-50%);
}

.pochetnaja .date,
.pochetnaja .signature {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  width: 190px;
  border-bottom: 1px solid #000000;
  position: relative;
  user-select: none;
}

.pochetnaja .date::after,
.pochetnaja .signature::after {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0%);
}

.pochetnaja .date::after {
  content: "дата";
}

.pochetnaja .signature::after {
  content: "директор";
}

@media print {
  body {
    margin: 0;
  }

  .wrapper {
    width: 297mm;
    height: 210mm;
    page-break-after: always;
  }

  .container {
    padding: 0;
  }
}

.pochetnaja .container {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  justify-content: center;
}
