<main>
  <div
    class="template-meta"
    data-orientation="landscape"
    style="display: none"
  ></div>

  <div class="wrapper lesovychok">
    <div id="section-to-print" class="container">
      <h1>ДИПЛОМ</h1>
      <h2>юного лесовода</h2>
      <!-- <h2>грамота</h2> -->
      <p>
        Настоящим дипломом удостоверяется, что
        _____________________________________
      </p>

      <p>
        вступил(а) в ряды дошкольного лесничества <b>«Юные лесоводы»</b>
        и торжественно
      </p>
      <div class="obeschaet">
        <b>обещает:</b>
        <ul>
          <li>Любить и беречь природу родного края!</li>
          <li>Заботиться о деревьях, птицах и зверях!</li>
          <li>Быть верным другом и защитником леса!</li>
        </ul>
      </div>

      <!-- <div class="name field">{ФИО}</div>
      <div class="text field">{текст}</div> -->
      <div class="atribut">
        <div class="date">{дата}</div>
        <div class="signature"><div class="name">{подпись}</div></div>
      </div>
    </div>
  </div>
</main>

<!-- data-orientation="portrait"
    data-orientation="landscape" -->
