*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

.lesovychok h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 90px;
  margin-bottom: 30px;
  text-align: center;
  user-select: none;
  line-height: 1;
  color: #f18e5a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.lesovychok {
  background-size: 115% !important;
}

.lesovychok .name2 {
  margin: 20px auto;
  font-size: 13px;
  opacity: 0.5;
}

.lesovychok p {
  text-align: center;
  font-size: 18px;
  font-family: "Caveat", cursive;
  font-family: "Comfortaa", sans-serif;
  line-height: 1.5;
  color: #49322c;
}

.lesovychok .obeschaet {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;

  font-size: 18px;
  font-family: "Caveat", cursive;
  font-family: "Comfortaa", sans-serif;
  line-height: 1.5;
}

.lesovychok ul {
  list-style: none;
  padding: 20px;
  border-radius: 8px;
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* мягкая тень */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* мягкая тень */

  background-color: rgba(178, 47, 65, 0.8);
  font-family: "Caveat", cursive;
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;

  line-height: 1.5em;
}
.lesovychok h1 {
  font-size: 36px;
  color: #49322c;

  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}

.lesovychok h3 {
  font-family: "Marck Script", cursive;
  font-weight: 500;
  font-size: 28px;
  color: #efe68b;
  text-align: center;
  user-select: none;
}

.lesovychok .name {
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-size: 48px;
  color: #000;
  text-align: center;
}

.lesovychok .text {
  font-size: 18px;
  font-family: "Lora", serif;
  font-style: italic;
  color: #4f4c40;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.lesovychok .atribut {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  bottom: 200px;
  transform: translateX(-50%);
}

.lesovychok .date,
.lesovychok .signature {
  font-family: "Marck Script", cursive;
  font-style: italic;
  font-size: 20px;
  font-weight: 100;
  color: #4f4c40;
  text-align: center;
  width: 190px;
  border-bottom: 1px solid #4f4c40;
  position: relative;
  user-select: none;
}

.lesovychok b {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 28px;
  line-height: 1;
  color: #b12f41;
}

.lesovychok .signature .name {
  font-size: 20px;
  margin-top: 0;
}

.lesovychok .date::after,
.lesovychok .signature::after {
  font-family: "Marck Script", cursive;
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translate(-50%, 0%);
}

.lesovychok .date::after {
  content: "дата";
}

.lesovychok .signature::after {
  content: "директор";
}

@media print {
  body {
    margin: 0;
  }

  .wrapper {
    width: 297mm;
    height: 210mm;
    page-break-after: always;
  }

  .container {
    padding: 0;
  }
}

.lesovychok .container {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  justify-content: center;
}
